<div id="job-apply" class="container">
    <div class="job-apply-content">
        <form action="/jobs/<%= jobById.id %>/apply" method="post" enctype="multipart/form-data">
            <h4>Apply with one click!</h4>
            <div class="mb-3">
                <label for="applicantName" class="form-label">Full Name : </label>
                <input class="form-control" type="text" placeholder="John Doe" name="applicantName"
                id="applicantName" >
            </div>
            <div class="mb-3">
                <label for="applicantEmail" class="form-label">Email : </label>
                <input class="form-control" type="email" placeholder="johndoe@hotmail.com"
                name="applicantEmail" id="applicantEmail" >
            </div>
            <div class="mb-3">
                <label for="applicantPhone" class="form-label">Phone Number : </label>
                <input class="form-control" type="tel" placeholder="9161111165"  name="applicantPhone"
                id="applicantPhone"  >
            </div>
           <div class="mb-3">
            <label for="applicantResume" class="form-label"> Upload Resume : </label>
            <input type="file"class="form-control" name="applicantResume" id="applicantResume" >
           </div>
            
                <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
    </div>
</div>