<div class="container">
  <div class="landing-page-container">
    <div class="landing-page-text">
      <h2>A comprehensive platform for reliable </h2>
      <h5>job opportunities and internships.</h5>
      <p>Get Discovered. Get Hired.</p>
      <div class="landing-page-btn">
        <a href="/jobs"><button type="button" class="btn btn-primary">Job Seeker</button></a>
        <a href="/dashboard"><button class="btn btn-primary ">Recruiter</button></a>
      </div>
    </div>
    <div class="landing-page-figure">
      <img src="images/7434632_3664518.svg" alt="landing-page-image"class="landing-page-image">
    </div>
  </div>
</div>
